<% @nested_level ||= 50 %>

<div class="example">
  <h3>Large & Deep DOM</h3>
  <p>Some pages have very large and deeply nested page layouts, which can trigger odd rendering issues and test performance bottlenecks (depending on your locator strategy). These examples are nested <%= @nested_level %> levels deep.</p>

    <h4>No Siblings</h4>
    <div class='parent'>
      <% @nested_level.times do %>
          <%= "<div>" %>
      <% end %>
        <div id='no-sibling'>No siblings</div>
      <% @nested_level.times do %>
          <%= "</div>" %>
      <% end %>
    </div>

    <h4>Siblings</h4>
      <div>
        <% @nested_level.times do %>
          <%= "<div>" %>
        <% end %>

          <div class='parent large-12 large-centered columns'>
            <% 5.times do |parent_count| %>
              <% 3.times do |child_count| %>
                <% if child_count == 0 %>
                <%= "<div id='sibling-#{parent_count+1}.#{child_count+1}' class='parent large-12 columns'>#{parent_count+1}.#{child_count+1}" %>
                <% else %>
                <%= "<div id='sibling-#{parent_count+1}.#{child_count+1}' class='large-12'>#{parent_count+1}.#{child_count+1}</div>" %>
                <% end %>
                <% if parent_count == 4 && child_count == 2 %>
                <%= "</div>" %>
                <% end %>
              <% end %>
            <% end %>
          </div>

        <% @nested_level.times do %>
            <%= "</div>" %>
        <% end %>
      </div>

</div>
